@{
    ViewBag.Title = "About Mike";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
     I'm Mike DiStaula:
		<ul>
			<li>Current Project: <a href="http://www.aliyah-game.com/" target="blank">Aliyah</a> – A Psychological, story-heavy platformer written in MonoGame (XNA).</li>
			<li>Homebrew and Tap: Tap Empty, nothing fermenting.</li>
			<li>Employment: Software Developer at <a href="http://www.velir.com/" target="blank">Velir Studios</a></li>
			<li>Alum of <a href="http://www.ccs.neu.edu/" target="blank">Northeastern University</a></li>
			<li>Helped start <a href="http://www.bootstrapworld.org/" target="blank">Bootstrap</a></li>
			<li>Despite my best efforts I have some <a href="http://wherestheparty.at" target="blank">Friends</a></li>
		</ul>
</p>
</article>