@using System.Web.Optimization
@model BootstrapDiStaula.AdminViewModel

<h2>Hue Admin</h2>
@Model.Log

@Html.ActionLink("Off", "TurnOff")
@Html.ActionLink("On", "TurnOn")


@using (Html.BeginForm("HueAdmin", "Home", FormMethod.Post))
{
	<h3>Standard Controls</h3>
	<input type="submit" name="Set Color" />
	<br />
	<p>@Html.TextBoxFor(m => m.Color, new {@class = "minicolors", data_control = "wheel"})</p>
}
@section scripts
{
<script>
	
</script>
}
