@{
	ViewBag.Title = "MikeDiStaula.com";
}

<div class="page-header">
	<h1>@ViewBag.Title <small>by Mike DiStaula&reg;</small></h1>
	<p>Hittin' the keys one at a time.</p>
</div>

<p>
	Michael DiStaula is a Boston area Software/Technology generalist who’s employment picks have given him additional specialization in the Microsoft development stack and Sitecore CMS.
	<ul>
		<li><a href="http://www.github.com/distaula" target="blank">Coder</a></li>
		<li><a href="http://www.flickr.com/photos/mike-burns/4419110630/sizes/z/in/photostream/" target="blank">Skiier</a> (in style)</li>
		<li><a href="http://www.last.fm/user/llamabroth" target="blank">Music Lover</a></li>
	</ul>
</p>