@{
    ViewBag.Title = "Location";
}

<h2>Location</h2>
<p>
    <iframe src="http://www.google.com/latitude/apps/badge/api?user=-8865509440591520705&type=iframe&maptype=roadmap" width="640" height="480" frameborder="0"></iframe>
</p>
