<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Welcome to Mike DiStaula (dot com)</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
	<div id="header">
		<h1><a href="index.html">MikeDiStaula</a></h1>
		<h2>.com</h2>
	</div>
	<div id="menu">
		<ul>
			<li><a href="http://www.ccs.neu.edu/" title="Northeastern University College of Computer Science">College Graduate</a></li>
			<li><a href="http://www.flickr.com/search/?q=mikedistaula+OR+distaula+OR+michaeldistaula&z=t&ss=2&ct=0&s=rec" title="Random Pictures from Mike DiStaula">Pictures</a></li>
			<li><a href="location.html" title="Where am I?">Location</a></li>
		</ul>
	</div>
	<hr />
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="index.html">Welcome to mikedistaula.com!</a></h2>
				<iframe scrolling="no" style="border:0;padding:0;margin:10px;" src="http://www.gmap-track.com/user.php?user=distaula&output=embed&zoom=15&mt=h&w=576&h=432" width="576" height="432"></iframe> 
			    <iframe scrolling="no" style="border:0;padding:0;margin:10px;" src="http://www.gmap-track.com/user.php?user=distaula&output=embed&zoom=7&mt=h&w=576&h=432" width="576" height="432"></iframe>

			</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul><p /> <p />
				<li>
					<a href="http://www.flickr.com/search/?q=mikedistaula+OR+distaula+OR+michaeldistaula&z=t&ss=2&ct=0&s=rec"><img src="cutemike.jpg" alt="Cute Mike!"></a>
				</li>
			</ul>
			<div style="clear: both; height: 40px;">&nbsp;</div>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
	<hr />
	<div id="footer">
		<p>Thanks for stopping by.</p>
	</div>
</body>
</html>
